.bubblemenu {
    background-color: #1e293b;
    border: 1px solid #1e293b;
    border-radius: 0.7rem;
    box-shadow: gainsboro;
    display: flex;
    padding: 0;
    font-size: 13px;
  
    button.s {
      background-color: unset;
  
      &:hover {
        background-color: #0f1628;
      }
  
      &.isactive {
        background-color: #284f93;
  
        &:hover {
          background-color: #284f93;
        }
      }
    }
}