.bubblemenu {
    background-color: gray;
    border: 1px solid gray;
    border-radius: 0.7rem;
    box-shadow: gainsboro;
    display: flex;
    padding: 0;
  
    button {
      background-color: unset;
  
      &:hover {
        background-color: black;
      }
  
      &.isactive {
        background-color: darkslategray;
  
        &:hover {
          background-color: aqua;
        }
      }
    }
}